@model IEnumerable<AmazingBank.DomainModel.Entities.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var client in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.Email)
            </td>
            <td>
                <img src="@client.PhotoUrl" style="max-width:200px;height:auto" />                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@client.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@client.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@client.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
